.nurse-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
 
  .nurse-card-header {
    background-color: #17a2b8;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
  }
  
  .nurse-card-header h5 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
  }
  
  .nurse-card-body p {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
  }
  
  .nurse-card-body p strong {
    color: #000;
  }
  